head {
  font-family: fantasy;
font-size: 20px
}

body {
  color: #414141;               /* Dark gray */
  background-color: #EFE3CA;
  font-family: fantasy;
  font-size: 20px    /* Light gray */
}

h1 {
  color: #54342A;
  text-align: left;
}
p {
  font-family: fantasy;
  font-size: 20px;
}
